.preloader {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
}

#signature {
  stroke-dasharray: 2805;
  stroke-dashoffset: 2805;
  animation: sign 6s ease forwards;
}

@keyframes sign {
  to {
    stroke-dashoffset: 0;
  }
}