@tailwind base;
@tailwind components;
@tailwind utilities;

/* Add this html block */
html {
  scroll-behavior: smooth;
}

body {
  background-color: #000;
  margin: 0;
  overflow-x: hidden;
  cursor: none;
}

a, button {
  cursor: none;
}