@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #000;
  margin: 0; /* This removes the default browser margin */
  overflow-x: hidden; /* This prevents the horizontal scrollbar */
}